*{
    margin: 0;
    padding: 0 ;
}
nav{
    display: flex;
    list-style-type: none;
    background-color: slategrey;
    justify-content: space-evenly;
}
button{
    padding-left: 10px;
    padding-right: 10px;
}
.button{
    padding-left: 30px;
}