.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rosybrown;

}
.grid-items{
    text-align: center;
    background-color: thistle;
    margin: 5px;
    padding-top: 5px;
}
